/* == Variables == */
:root {
    --bg-color: #154734;
    --primary-color: green;
}

/* == Elements == */
body {
    background-color: var(--bg-color);
}

header, footer {
    background-color: var(--primary-color);
    color: white;
}

header a, footer a {
    text-decoration: none;
    color: white;
}

main {
    padding: 10git apx;
    background-color: white;
}

footer {
    justify-content: center;
    text-align: center;
}


/* == Classes == */
div.task {
    padding: 10px;
    margin: 10px;
}

div.task button {
    margin-top: 15px;
}

div.task label {
    display: block;
}

/* == MD Bootstrap == */
/* This overrides the color for all states, does not adjust the palette */
/* TODO: Update the color palette with SCSS https://stackoverflow.com/questions/73861601/changing-the-primary-bootstrap-color-without-scss */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #a6192e !important; 
}
